:root {
	--gray-dark: #2f3842;
	--orange: #fa7312;
	--white: #ffffff;
	--light-grey: #959eac;
	--medium-grey: #7c8798;
	--dark-blue: #252d37;
	--very-dark-blue: #121417;
}

.bg {
	background-color: var(--gray-dark);
}

.active,
.active:hover {
	background-color: var(--light-grey);
	color: var(--white);
}
